@font-face {
  font-family: HelpMe;
  src: url('assets/fonts/HelpMe.ttf');
}

ul,
#over h1 {
  font-family: HelpMe;
}

#win h1 {
  font-family: HelpMe;
}

h1 {
  position: relative;
  left: 00px;
  top: -200px;
}
